*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container_h1{
    color: white;
    background-color: #2A2A72;
    padding:10px;
    text-align: center; 
}

.outercnt{
    width: 60vw;
    margin :4vw auto;
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.innercnt{
    background-color: white;
    margin: auto;
    width: 55vw;
    height: 23vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8rem
}

#rock{
    background-color: #D81E5B;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
#paper{
    background-color: #59C9A5;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
#scissor{
    background-color: #FFFD98;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
#rock img{
    filter: invert(0) brightness(1);
    width: 120px;
    text-align: center;
    
}
#paper img{
    width: 74px;
    text-align: center;
}
#scissor img{
    width: 93px;
    text-align: center;
}

#rock:hover{
    border: 4px solid black;
    border-radius: 60px;
}

#paper:hover{
    
    border: 4px solid black;
    
    border-radius:60px;
}

#scissor:hover{
    border: 4px solid black;
    border-radius: 60px;
}


.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.score {
    font-size: 22px;
    font-weight: bold;
}
#user-score{
    font-size: 32px;
}
#comp-score{
    font-size: 32px;
}
.msg-container{
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    margin: 25px;
    font-size: 23px;
    background-color: #2A2A72;
    color: white;
    padding: 10px;
    border-radius: 20px;

}

